@{
    ViewBag.Title = "Manage Tickets";
}

<!-- Page Wrapper -->
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Blank Page</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12">
                            <div id="chart"></div>
                            <button class="fc-button" id="Monthly">Montly</button>
                            <button class="fc-button" id="LastMonth">Last Month</button>
                            <div id="barChart"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        var lineOptions = {
            chart: {
                height: 350,
                type: 'line',
                stacked: false
            },
            dataLabels: {
                enabled: false
            },
            series: [

            ],
            title: {
                text: 'Numbers',
            },
            noData: {
                text: 'Loading...'
            }
        }

        var lineChart = new ApexCharts(
            document.querySelector("#chart"),
            lineOptions
        );

        lineChart.render();
        var url = '../../../api/reportapi/MonthlyIncome';
        $.getJSON(url, function (response) {
            lineChart.updateSeries([{
                name: 'Income in Monthly',
                data: response
            }])
        });

        $(document).ready(function () {
            $("#LastMonth").click(function () {
                $.ajax({
                    url: '../../../api/reportapi/LastMonthDaily', success: function (result) {
                        lineChart.updateSeries([{
                            name: 'Income in Daily',
                            type: 'line',
                            data: result
                        }]);
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#Monthly").click(function () {
                $.ajax({
                    url: '../../../api/reportapi/MonthlyIncome', success: function (result) {
                        lineChart.updateSeries([{
                            name: 'Income in Monthly',
                            data: result
                        }]);
                    }
                });
            });
        });

    </script>

    <script>

        var barOptions = {
            chart: {
                height: 350,
                type: 'bar',
                stacked: false
            },
            dataLabels: {
                enabled: false
            },
            series: [

            ],
            title: {
                text: 'Numbers',
            },
            noData: {
                text: 'Loading...'
            }
        }

        var barChart = new ApexCharts(
            document.querySelector("#barChart"),
            barOptions
        );

        barChart.render();


        var url2 = '../../../api/reportapi/NumbersInMonthly';
        $.getJSON(url2, function (response) {
            barChart.updateSeries([{

                name: 'Numbers in Monthly',
                data: response
            }])
        });
        $(document).ready(function () {
            $("#LastMonth").click(function () {
                $.ajax({
                    url: '../../../api/reportapi/NumbersInDaily', success: function (result) {
                        barChart.updateSeries([{
                            name: 'Numbers in Daily',
                            data: result
                        }]);
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#Monthly").click(function () {
                $.ajax({
                    url: '../../../api/reportapi/NumbersInMonthly', success: function (result) {
                        barChart.updateSeries([{
                            name: 'Numbers in Monthly',
                            type: 'column',
                            data: result
                        }]);
                    }
                });
            });
        });
    </script>


}