@{
    ViewBag.Title = "Appointments";
}

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <!-- Login Tab Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div id="dxGrid"></div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div id="scheduler"></div>
                    </div>
                </div>
                <!-- /Login Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

@section Scripts
{
    <script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>

    <script>
    var dataGrid = null;
    $(() => {
        var doctors =@Html.Raw(Json.Serialize(@ViewBag.Doctors));
        var url = '../../../api/AppointmentApi';
        dataGrid = $("#dxGrid").dxDataGrid({
            remoteOperations: { paging: true, filtering: true, sorting: true, grouping: true, summary: true, groupPaging: true },
            dataSource: DevExpress.data.AspNet.createStore({
                key: 'id',
                loadUrl: `${url}/get`,
                onBeforeSend(method, ajaxOptions) {
                    ajaxOptions.xhrFields = { withCredentials: true };
                    console.log(method);
                    console.log(ajaxOptions);
                }
            }),
            editing: {
                mode: 'form',
                allowUpdating: false,
                allowAdding: false,
                allowDeleting: false,
                },
            allowColumnResizing: true,
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            showBorders: true,
            searchPanel: {
                visible: true,
                width: 240,
                placeholder: "Search..."
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            paging: {
                pageSize: 20
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [5, 15, 30, 45],
                showInfo: true
            },
            selection: {
                mode: "multiple"
            },
            columns : [
                {
                    caption: 'id',
                    dataField: "id",
                    visible: false,
                    allowFiltering: false,
                    formItem: { visible: false }
                },
                {
                    dataField : "createdDate",
                    caption: "createdDate",
                    dataType: "datetime",
                    format: 'dd/MM/yyyy HH:mm',
                },
                {
                    dataField : "appointmentDate",
                    caption: "appointmentDate",
                    dataType: "datetime",
                    format: 'dd/MM/yyyy HH:mm',

                },
                {
                    dataField : "resolutionDate",
                    caption: "resolutionDate",
                    dataType: "datetime",
                    format: 'dd/MM/yyyy HH:mm',
                    allowEditing: false,
                },
                {
                    caption: 'doctorId',
                    dataField: "doctorId",
                    lookup: {
                        dataSource: doctors,
                        displayExpr: 'name',
                        valueExpr: 'id'
                            },
                },
                {
                    dataField: "isActive",
                    caption: "closed",
                    dataType:"boolean",
                    allowEditing: false,
                },
                {
                    caption: 'description',
                    dataField: "description",
                    editorType: 'dxTextArea',
                    colSpan: 2,
                    editorOptions: {
                        height: 100,
                                    },
                },
              ]
        }).dxDataGrid("instance");
    });

    </script>

    <script>
        var scheduler = null;

        $(() => {
            var sc =@Html.Raw(Json.Serialize(@ViewBag.sc));
            var url = '../../../api/AppointmentApi';
            scheduler = $('#scheduler').dxScheduler({
                timeZone: 'Europe/Berlin',
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: `${url}/Getscheduler`,
                    onBeforeSend(method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                        console.log(method);
                        console.log(ajaxOptions);
                    },
                }),
                fieldExpr: 'id',
                dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ssZ',
                views: ['day', 'week','month'],
                currentView: 'month',
                editing: false,
                textExpr: 'description',

            }).dxScheduler("instance");;
        });
    </script>

}