@model LoginViewModel

<div class="control-section">
    <div class="control_wrapper accordion-control-section">
        <ejs-textbox asp-for="Password" id="firstname"></ejs-textbox>
    </div>
</div>