@{
    ViewBag.Title = "Forgot Password";
}

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Forgot Password?</h1>
                        <p class="account-subtitle">Enter your email to get a password reset link</p>
                        <!-- Form -->
                        <form asp-controller="Account" asp-action="ResetPassword" method="post">
                            <div class="form-group">
                                <input class="form-control" type="email" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                            </div>
                        </form>
                        <!-- /Form -->
                </div>
            </div>
        </div>
    </div>
</div>
