@inject SignInManager<ApplicationUser> signInManager
<!-- Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand logo">
                <img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="active">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="has-submenu">
                    <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="voice-call.html">Voice Call</a></li>
                        <li><a href="video-call.html">Video Call</a></li>
                        <li><a href="search.html">Search Doctors</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li class="has-submenu">
                            <a href="invoices.html">Invoices</a>
                            <ul class="submenu">
                                <li><a href="invoices.html">Invoices</a></li>
                                <li><a href="invoice-view.html">Invoice View</a></li>
                            </ul>
                        </li>
                        <li><a asp-action="Login" asp-controller="Account" >Login</a></li>
                        <li><a asp-action="Register" asp-controller= "Account">Register</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                    </ul>
                </li>
                <li>
                    <a href="admin/index.html" target="_blank">Admin</a>
                </li>
                <li class="login-link">
                    <a asp-action="Login" asp-controller="Account">Login / Signup</a>     
                </li>
            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="far fa-hospital"></i>
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">Contact</p>
                    <p class="contact-info-header"> +1 315 369 5943</p>
                </div>
            </li>
            <li class="nav-item">
                @if (signInManager.IsSignedIn(Context.User))
                {
                     <a class="nav-link header-login" asp-action="Logout" asp-controller="Account" >Logout</a>
                }
                else
                {
                     <a class="nav-link header-login" asp-action="Login" asp-controller="Account" >Login / Signup </a>
                }
            </li>
        </ul>
    </nav>
</header>
<!-- /Header -->