 @*TODO patient details & invoices etc. must be organised later*@
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li class="active">
                        <a asp-controller="Profile" asp-action="Details">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Address" asp-action="Details">
                            <i class="fas fa-bookmark"></i>
                            <span>Address</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Recipt" asp-action="Index">
                            <i class="fas fa-bookmark"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ticket" asp-action="GetTickets">
                            <i class="fas fa-comments"></i>
                            <span>Tickets</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="UpdatePassword">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>