@{
    ViewBag.Title = "Recipts";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="account-content">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <div id="dxGrid"></div>
                            <div class="fancybox-button" id="Detail" hidden></div>
                            <button class="fancybox-button" id="Pay" hidden></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script>
        var dataGrid = null;
        $(() => {
            var url = '../../../api/ReciptApi';
            dataGrid = $("#dxGrid").dxDataGrid({
                remoteOperations: { paging: true, filtering: true, sorting: true, grouping: true, summary: true, groupPaging: true },
                dataSource: DevExpress.data.AspNet.createStore({
                    loadUrl: `${url}/get`,
                    onBeforeSend(method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                        console.log(method);
                        console.log(ajaxOptions);
                    }
                }),
                editing: {
                    mode: 'form',
                },
                allowColumnResizing: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Search..."
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                selection: {
                    mode: "single"
                },
                headerFilter: {
                    visible: true
                },
                export: {
                    enabled: true,
                    fileName: `Services_${parseInt(Math.random() * 1000000000)}`,
                    allowExportSelectedData: true
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 15, 30, 45],
                    showInfo: true
                },
                columns: [
                    {
                        caption: 'Id',
                        dataField: "id",
                        visible: false,
                        allowFiltering: false,
                        formItem: { visible: false }
                    },
                    {
                        caption: 'Recipt Date',
                        dataField: "date",
                        dataType: "DateTime",
                    },
                    {
                        caption: 'Total Amount',
                        dataField: "totalAmount",
                        dataType: "double"
                    },
                    {
                        dataField: "isPaid",
                        caption: "active",
                        dataType: "boolean",
                        allowEditing: false,
                    },
                ],
                onSelectionChanged(selectedItems) {
                    const data = selectedItems.selectedRowsData[0];
                    if (data) {
                        $('#Detail').dxButton({
                            stylingMode: 'contained',
                            text: 'Detail',
                            type: 'success',
                            width: 120,
                            onClick() {
                                console.log(data.id)
                                window.location.href = '/reciptdetail/index/' + data.id;
                            },
                        });
                        $('#Pay').dxButton({
                            stylingMode: 'contained',
                            text: 'Pay',
                            type: 'success',
                            width: 120,
                            onClick() {
                                console.log(data.id)
                                window.location.href = '/Payment/Index/' + data.id;
                            },
                        });
                    }
                },

            }).dxDataGrid("instance");
        });

    </script>
}