
@{
    ViewBag.Titlw = "Recipts";
}
<body class="dx-viewport">
    <div class="demo-container">
        <div id="tree-list"></div>
    </div>
</body>

@section Scripts
{ 

    $(() => {
    <script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>

    <script>
        var dataGrid = null;
        $(() => {
            var url = '../../../api/ReciptApi';
            $('#tree-list').dxTreeList({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'reciptMasterId',
                    loadUrl: `${url}/Get`,
                    onBeforeSend(method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                        console.log(method);
                        console.log(ajaxOptions);
                    },
                }),
                remoteOperations: {
                    filtering: true,
                    sorting: true,
                    grouping: true,
                },
                parentIdExpr: 'reciptMasterId',
                hasItemsExpr: 'hasitems',
                expandedRowKeys: [1, 2],
                searchPanel: {
                    visible: true,
                },
                headerFilter: {
                    visible: true,
                },
                editing: {
                    mode: 'row',
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                },
                showRowLines: true,
                showBorders: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                columns: [{
                    caption: 'Date',
                    dataField: 'date',
                    minWidth: 250,
                    validationRules: [{ type: 'required' }],
                }, {
                    dataField: 'name',
                    caption: 'Service Name',
                    minWidth: 120,
                    lookup: {
                        dataSource: DevExpress.data.AspNet.createStore({
                            key: 'reciptMasterId',
                            loadUrl: `${url}/GetReciptDetail`,
                        }),
                        valueExpr: 'serviceId',
                        displayExpr: 'name',
                    },
                    validationRules: [{ type: 'required' }],
                }, {
                    dataField: 'totalAmount',
                    caption: 'TotalAmount',
                    minWidth: 120,
                }, 
                ],
            });
        });
    </script>
}
}