<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <title>Doccure - Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/admin-assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin-assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/admin-assets/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/admin-assets/css/feathericon.min.css">

    <link rel="stylesheet" href="~/admin-assets/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/admin-assets/css/style.css">

    <link rel="stylesheet" href="~/vendor/devextreme/dist/css/dx.light.css" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>

    <!--====== Header Part Start ======-->
    <partial name="Partials/_HeaderPartial" />
    <!--====== Header Part End ======-->
    @RenderBody()

    <partial name="Partials/_SidebarPartial" />


    <!-- jQuery -->
    <script src="~/admin-assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/admin-assets/js/popper.min.js"></script>
    <script src="~/admin-assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/admin-assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/admin-assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/admin-assets/plugins/morris/morris.min.js"></script>
    <script src="~/admin-assets/js/chart.morris.js"></script>
    <script src="~/admin-assets/js/sidebar.js"></script>

    <!-- Custom JS -->
    <script src="~/admin-assets/js/script.js"></script>

    <script type="text/javascript" src="~/vendor/devextreme/dist/js/dx.all.js"></script>

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
