<div class="card success-card">
    <div class="card-body">
        <div class="success-cont">
            <i class="fas fa-check"></i>
            <h3>
                Confirmation Email sended.
                Please Confirm Your Mail Address
            </h3>
        </div>
    </div>
</div>