@model UpdatePasswordViewModel
    @{
    ViewBag.Title = "Update Password";
}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="row">
            <partial name="Partials/_SideBar" />
            <div class="container">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Update Password?</h1>
                            <form asp-controller="Profile" asp-action="UpdatePassword" method="post">

                                <div class="form-group form-focus">
                                    <input asp-for="OldPassword" class="form-control floating">
                                    <label asp-for="OldPassword" class="focus-label"></label>
                                    <span asp-validation-for="OldPassword"></span>
                                </div>                                <div class="form-group form-focus">
                                    <input asp-for="NewPassword" class="form-control floating">
                                    <label asp-for="NewPassword" class="focus-label"></label>
                                    <span asp-validation-for="NewPassword"></span>
                                </div>                                <div class="form-group form-focus">
                                    <input asp-for="ConfirmNewPassword" class="form-control floating">
                                    <label asp-for="ConfirmNewPassword" class="focus-label"></label>
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                                <div class="submit-section">
                                    <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
