@model UpdatePasswordViewModel
    @{
        ViewBag.Title = "Update Password";
    }
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Update Password?</h1>
                        <form asp-controller="Profile" asp-action="UpdatePassword" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" id="OldPassword" name="OldPassword" class="form-control">

                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" id="NewPassword" name="NewPassword" class="form-control">

                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control">

                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
