<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                @if (Context.User.IsInRole("Admin"))
                {
                    <li id="li-dashboard">
                        <a asp-action="Index" asp-controller="Manage" asp-area="Admin"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                    </li>
                    <li id="li-appoinment">
                        <a asp-action="Index" asp-controller="ManageTicket" asp-area="Admin"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                    </li>
                    <li id="li-doctor">
                        <a asp-action="Employees" asp-controller="Manage" asp-area="Admin"><i class="fe fe-user-plus"></i> <span>Employees</span></a>
                    </li>
                    <li id="li-patient">
                        <a asp-action="AllUser" asp-controller="Manage" asp-area="Admin"><i class="fe fe-user"></i> <span>All Users</span></a>
                    </li>
                    <li>
                        <a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                    </li>
                    <li id="li-transaction">
                        <a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                    </li>

                    <li class="menu-title">
                        <span>Management</span>
                    </li>
                    <li id="li-newEmployee">
                        <a asp-action="EmployeeRegister" asp-controller="Manage" asp-area="Admin"><i class="fe fe-user-plus"></i> <span>New Employee</span></a>
                    </li>

                    <li id="li-services">
                        <a asp-action="Services" asp-controller="Manage" asp-area="Admin"><i class="fe fe-user-plus"></i> <span>Services</span></a>
                    </li>
                    <li id="li-report">
                        <a asp-action="Report" asp-controller="Manage" asp-area="Admin"><i class="fe fe-star-o"></i> <span>Invoice Reports</span></a>
                    </li>

                }
                else if (Context.User.IsInRole("Doctor"))
                {
                    <li id="li-appointments">
                        <a asp-action="Scheduler" asp-controller="Doctor" asp-area="Admin"><i class="fe fe-user"></i> <span>Appoinmets</span></a>
                    </li>
                    <li id="li-appointments">
                        <a asp-action="Agenda" asp-controller="Doctor" asp-area="Admin"><i class="fe fe-user"></i> <span>Agenda</span></a>
                    </li>
                    <li id="li-appointments">
                        <a asp-action="Tickets" asp-controller="Doctor" asp-area="Admin"><i class="fe fe-user"></i> <span>Tickets</span></a>
                    </li>
                }
                else if (Context.User.IsInRole("Operator"))
                {
                    <li id="li-manageTickets">
                        <a asp-action="Index" asp-controller="ManageTicket" asp-area="Admin"><i class="fe fe-user"></i> <span>Manage Tickets</span></a>
                    </li>
                }

                <li class="menu-title">
                    <span>Site</span>
                </li>

                <li id="li-services">
                    <a asp-action="Index" asp-controller="Home" asp-area=""><i class="fe fe-user-plus"></i> <span>Go To Site</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
