@model CloseTicketViewModel
@{
    ViewBag.Title = "Conclude Ticket";
}

<!-- Page Wrapper -->
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Blank Page</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="control-section">
                <div class="card-body">
                    <div id="dxGrid"> </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->
</div>

@section Scripts{
<script src="/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
<script>
    ClearAll();
    Highlight("doctor");
    var services = @Html.Raw(Json.Serialize(@ViewBag.Data));
    var dataGrid = null;
    $(()=>{
        var url = '../../../api/CloseTicketApi';
        dataGrid = $("#dxGrid").dxDataGrid({
            remoteOperations: true,
            dataSource: DevExpress.data.AspNet.createStore({
                key: 'id',
                loadUrl: `${url}/Get`,
                loadParams: { id: "@Model.ReciptMasterId" },
                updateUrl: `${url}/Update`,
                deleteUrl: `${url}/Delete`,
                insertUrl: `${url}/Insert`,
                onBeforeSend(method,ajaxOptions){
                    ajaxOptions.xhrFields = {withCredentials: true};
                    if (method !== "load") {
                        ajaxOptions.data.extraParam = "@Model.ReciptMasterId";
                    }
                    console.log(method);
                    console.log(ajaxOptions);
                },
            }),
            editing:{
                mode: 'form',
                allowUpdating: true,
                allowDeleting: true,
                allowAdding: true,
            },
            allowColumnResizing: true,
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            showBorders: true,
            columns: [
                {
                    dataField: "id",
                    caption: "Id",
                    visible : false,
                    formItem: {visible: false}
                },
                {
                    dataField: "id",
                    caption: "Name",
                    lookup: {
                        dataSource: services,
                        displayExpr: 'name',
                        valueExpr: 'id'
                    },
                    setCellValue : function(newData,value,currentRowData){
                        return getPrice(value).done(function(data){
                            newData.id = value;
                            newData.price = data;
                        });
                    }
                },
                {
                    dataField: "price",
                    caption: "Price",
                },
                {
                    dataFiled: "quantity",
                    caption: "Quantity",
                    dataType: "number",
                    visible: false,
                    formItem: {visible: true}
                },
                {
                    dataField: "description",
                    caption: "Description",
                    visible: false,
                    formItem: {visible:true}
                }
            ]
        }).dxDataGrid("instance");
        console.log("Ok");
    });

    function getPrice(value){
        var price = $.ajax({
            url : "../../../api/CloseTicketApi/GetPrice",
            dataType : "json",
            data:{id : value}
        });
        return price;
    }
</script>
}