@*@{
    ViewBag.Title = "Appoinments";
}
<head>
    <title>Appoinmnets</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.2.5/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@2.8.2/js/dx.aspnet.data.js"></script>
    <script src="index.js"></script>
</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div id="scheduler"></div>
    </div>
</body>

@section Scripts{

    $(() => {
    const url =''
    $('#scheduler').dxScheduler({
    timeZone: 'America/Los_Angeles',
    dataSource: DevExpress.data.AspNet.createStore({
    key: 'AppointmentId',
    loadUrl: `${url}/Get`,
    insertUrl: `${url}/Post`,
    updateUrl: `${url}/Put`,
    deleteUrl: `${url}/Delete`,
    onBeforeSend(method, ajaxOptions) {
    ajaxOptions.xhrFields = { withCredentials: true };
    },
    }),
    remoteFiltering: true,
    dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ssZ',
    views: ['day', 'workWeek', 'month'],
    currentView: 'day',
    currentDate: new Date(2021, 3, 27),
    startDayHour: 9,
    endDayHour: 19,
    height: 600,
    textExpr: 'Text',
    startDateExpr: 'StartDate',
    endDateExpr: 'EndDate',
    allDayExpr: 'AllDay',
    recurrenceRuleExpr: 'RecurrenceRule',
    recurrenceExceptionExpr: 'RecurrenceException',
    });
    });


}*@
